.featureTableContainer {
  margin-top: 4rem;
  width: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

/* Header-------------------------------------------------------------------- */
.tableHeader {
  display: flex;
  width: 100%;
  padding: 1.5rem 2rem;

  font-size: 1.5rem;
  font-weight: var(--ifm-font-weight-bold);
  background-color: var(--surface-color);
}

.headerPadCell {
  flex-basis: 40%;
}

.headerCell {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 20%;
  padding: 0 1rem;
  gap: 0.5rem;
}

.headerCellWide {
  flex-basis: 30%;
}

.headerCell button {
  width: 100%;
}

/* Group--------------------------------------------------------------------- */
.groupContainer {
  margin-bottom: 2rem;
  padding: 2rem;
}

.groupNameRow {
  margin-bottom: 1rem;
  max-width: 40%;

  /* color: grey; */
  font-size: 1.75rem;
  font-weight: var(--ifm-font-weight-bold);
}

/* Row----------------------------------------------------------------------- */
.tableRow {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  min-height: 3rem;
  /* border-bottom: 1px solid #aaaaaa; */

  font-size: 1.25rem;
  font-weight: 500;
  /* font-weight: var(--ifm-font-weight-bold); */
}

/* Cell---------------------------------------------------------------------- */
.cellName {
  flex-basis: 40%;
}

.cellName p {
  margin: 0;
  width: max-content;
  max-width: 30rem;
  border-bottom: 1px dashed #aaaaaa;
  opacity: 0.7;
}

.cellName:hover {
  cursor: pointer;
}

.cellName:hover p {
  opacity: 1;
}

/* .cellNameBig p {
  font-size: 1.75rem;
  font-weight: 700;
  opacity: 1;
} */

.cellValue {
  flex-basis: 20%;
}

.cellValueWide {
  flex-basis: 30%;
}

/* Responsive---------------------------------------------------------------- */
@media (max-width: 1600px) {}

@media (max-width: 1200px) {
  .featureTableContainer {
    padding: 1rem;
  }

  .tableHeader {
    padding-bottom: 1rem;

    font-size: 0.83rem;
  }

  .groupNameRow {
    font-size: 1.5rem;
  }

  .tableRow {
    font-size: 1rem;
  }

  .headerPadCell {
    flex-basis: 25%;
  }

  .headerCell {
    flex-basis: 25%;
  }

  .cellName {
    flex-basis: 25%;
  }

  .cellValue {
    flex-basis: 25%;
  }
}

@media (max-width: 1024px) {
  .groupNameRow {
    font-size: 1rem;
  }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {
  .tableHeader {
    gap: 0.5rem;

    font-size: 0.67rem;
  }

  .groupNameRow {
    font-size: 1rem;
  }

  .tableRow {
    font-size: 0.83rem;
  }
}