/* Links block--------------------------------------------------------------- */
.linksBlock {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.linksButtonContainer {
  display: grid;
  gap: 4rem;
  grid-template-columns: 1fr 1fr;
}