.Button {
  position: relative;
  padding: 1rem 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-size: 1rem;
  font-weight: var(--font-weight-bold);
  user-select: none;
  transition: var(--transition-short);
  border: 1px solid var(--border-color);
  border-bottom-color: rgba(0, 0, 0, 0.27);
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.27);
  margin: 1rem;
  appearance: none;
  font-family: inherit;
}

.Button:hover {
  cursor: pointer;
  opacity: 0.5;
  user-select: none;
  transition: var(--transition-short);
}

.Button svg {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.5rem;
  fill: #fff;
  position: absolute;
  left: 1rem;
}

.ButtonWithoutText {
  padding: 0.125rem 0.1875rem;
}

.ButtonWithIcon:not(.ButtonWithoutText) {
  padding-left: 4rem;
}

.ButtonWithoutText svg {
  margin-right: 0;
}

.Regular {
  background-color: #fff;
  color: var(--text-color);
}

.Regular svg {
  fill: var(--text-color);
}

.Primary {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-bottom-color: rgba(0, 0, 0, 0.27);
  color: #fff;
}

.Danger {
  background-color: var(--color-red);
  border-color: var(--color-red);
  border-bottom-color: rgba(0, 0, 0, 0.27);
  color: #fff;
}

.DisabledButton {
  opacity: 1;
  background-color: var(--surface-color) !important;
  border-color: var(--border-color) !important;
  border-bottom-color: rgba(0, 0, 0, 0.27);
  color: #999 !important;
}

.DisabledButton svg {
  fill: #aaa;
}

.DisabledButton:hover {
  cursor: default;
  opacity: 1;
}

.ActiveButton::after {
  content: '';
  width: 100%;
  height: 0.1875rem;
  background: var(--color-primary);
  position: absolute;
  border-bottom-color: transparent;
  left: 0;
  right: 0;
  bottom: -0.125rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.SmallSize {
  padding: 0.125rem 0.75rem;
  height: 1.625rem;
  font-size: 0.75rem;
}

.SmallSize svg {
  margin-right: 0.625rem;
  width: 1rem;
  height: 1rem;
}