/* Home page----------------------------------------------------------------- */
.homePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12rem;
  width: 100%;
  max-width: 100rem;
  padding: 8rem 4rem;
}

/* Responsive---------------------------------------------------------------- */
@media (max-width: 1600px) {
}

@media (max-width: 1200px) {
  .homePage {
    gap: 6rem;
    padding: 4rem 1rem;
  }
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
  .homePage {
    gap: 2rem;
    padding: 2rem 1rem;
  }
}
