/* Home page----------------------------------------------------------------- */
.homePage {
  background-color: var(--color-black);
  color: #fff;
  width: 100%;
}

.content {
  max-width: var(--content-width);
  margin: 0 auto;
}