.Logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  line-height: 1;
}

.LogoImage {
  animation: gradient 20s ease infinite;
  border-radius: 10%;
  width: 10rem;
}

.Text {
  display: flex;
  flex-direction: column;
  position: relative;
}

.TextDekaf {
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: -0.5rem;
}

.TextForPulsar {
  font-size: 1rem;
  text-align: right;
}

.Beta {
  position: absolute;
  bottom: -0.5rem;
  right: 0;
  transform: translateY(100%);
}

.Beta:hover {
  opacity: 0.8;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    box-shadow: 0px 0px 15px #4eafff;
  }

  25% {
    background-position: 100% 50%;
    box-shadow: 0 0px 10px #91b8f9;
  }

  75% {
    background-position: 0% 50%;
    box-shadow: 0px 0px 20px #48b2b4;
  }

  100% {
    background-position: 0% 50%;
    box-shadow: 0px 0px 20px #4eafff;
  }
}
