.Screen {
  color: var(--text-color);
  background-color: #fff;
}

.Content {
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 8rem 4rem;
  padding: 8rem 0;
  padding-top: 32rem;
}

@media (max-width: 1200px) {
  .Content {
    padding-top: 28rem;
  }
}

@media (max-width: 1000px) {
  .Content {
    padding-top: 40vw;
    gap: 4rem 4rem;
  }
}