.Screen {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 6rem;
  gap: 2rem;
  width: 100%;
  min-height: 100vh;
  position: relative;
  color: #fff;
}

.Content {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.Header {
  font-weight: 300;
  margin-top: 2rem;
}

.Logo {
  position: relative;
  left: 6rem;
}

.Links {
  margin-bottom: 4rem;
  position: relative;
}

.DemoPreview {
  display: grid;
  gap: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  transform: translateY(100%);
  color: var(--text-color);
}

.DemoPreviewImage {
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.27);
}

@media (max-width: 1000px) {
  .Logo {
    left: 0;
  }

  .Screen {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}