.Row {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.FeatureRow {
  position: relative;
}

.FeatureCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.PlannedFeatureBadge {
  white-space: nowrap;
  margin-left: auto;
  padding: 0.25rem 1rem;
  color: var(--color-primary);
  font-size: 0.75rem;
  font-weight: var(--font-weight-bold);
  border-radius: 1rem;
  z-index: 1;
}

@media (max-width: 1000px) {
  .Row {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .Row a {
    padding: 0.75rem 1.5rem !important;
  }

  .Row > div:first-child {
    display: none;
  }

  .FeatureRow {
    margin-left: -0.5rem;
    width: 100vw;
  }

  .FeatureRow .Row {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 !important;
    border: 0 !important;
  }

  .FeatureRow .Row > div:first-child {
    display: block;
    grid-column: 1 / -1;
    padding: 0.5rem;
    font-size: 0.9rem;
    background-color: #f5f5f5;
  }

  .FeatureGroup {
    margin-top: 3rem;
    margin-bottom: 0;
  }

  .FeatureGroupName {
    grid-template-columns: 1fr;
    margin-bottom: 0.5rem;
  }

  .FeatureCell {
    padding: 0.5rem;
  }
}

@media (max-width: 600px) {
  .Row a {
    padding: 0.5rem !important;
    font-size: 0.8rem;
  }
}