/* Pricing page-------------------------------------------------------------- */
.PricingPage {
  display: flex;
  width: 100%;
}

.Content {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  padding-top: 4rem;
}

.Description {
  margin-bottom: 1.75rem;
  max-width: 35rem;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.5;
  opacity: 0.7;
}

.ProductSelectionControls {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 4rem;
}