.FeedbackScreen {
  background-color: #fff;
  color: var(--text-color);
}

.Content {
  max-width: var(--content-width);
  margin: auto;
  padding: 4rem 0 8rem 0;
}

@media (max-width: 1000px) {
  .Content {
    padding: 4rem 1rem;
  }
}