.Screen {
  background: #fff;
  color: var(--text-color);
  padding: 0 0 4rem 0;
}

.Content {
  padding-top: 28rem;
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.Questions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

@media (max-width: 1000px) {
  .Screen {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .Content {
    padding-top: 30vw;
  }

  .Questions {
    grid-template-columns: 1fr;
  }
}