/* Infima style overrides for Navbar */
:root {
  --ifm-navbar-height: 7rem;
  --ifm-navbar-shadow: none;
  --ifm-navbar-link-color: var(--primary-color);
  --ifm-navbar-background-color: #f0f0f4;
  --ifm-navbar-item-padding-horizontal: 2rem;
}

/* Containers---------------------------------------------------------------- */
.navbar {
  border-bottom: 1px solid #dddddd;
  justify-content: center;
}

.navbar__inner {
  max-width: 100rem;
  padding: 0 4rem;
}

.navbar__items {
}

.navbar__items--right {
  gap: 1rem;
}

/* Logo---------------------------------------------------------------------- */
.navbar__brand {
  margin-right: 10%;
}

.navbar__logo {
  width: auto;
  height: 89px;
  margin: 0;

  transition: 0.2s ease-in-out;
}
.navbar__logo:hover {
  filter: drop-shadow(0 0 10px #6e79d65f);
}

.navbar__title {
  display: none;
}

/* Link---------------------------------------------------------------------- */
.navbar__link {
  font-size: 1.25rem;
  font-weight: var(--ifm-font-weight-bold);
}

/* Responsive---------------------------------------------------------------- */
@media (max-width: 1200px) {
  :root {
    --ifm-navbar-item-padding-horizontal: 1rem;
  }

  .navbar__link {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --ifm-navbar-height: 6rem;
  }

  .navbar__inner {
    padding: 0 1rem;
  }
}

@media (max-width: 996px) {
  :root {
    --ifm-navbar-height: 4rem;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar__inner {
    padding: 0;
  }

  .navbar__logo {
    height: 52px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
