/* Infima style overrides for Navbar */
:root {
  --ifm-navbar-height: 4rem;
  --ifm-navbar-shadow: none;
  --ifm-navbar-link-color: var(--primary-color);
  --ifm-navbar-item-padding-horizontal: 2rem;
}

/* Containers---------------------------------------------------------------- */
.navbar {
  justify-content: center;
  backdrop-filter: blur(23px);
  background: rgba(16, 16, 16, 0.8);
  color: #fff;
}

.navbar__inner {
  max-width: 75rem;
  padding: 0 4rem;
}

.navbar__items {}

.navbar__items--right {
  gap: 1rem;
}

/* Logo---------------------------------------------------------------------- */
.navbar__brand {
  align-items: center;
  display: flex;
  margin-right: auto;
  min-width: 0;
}


.navbar__logo {
  width: auto;
  height: 42px;
  margin: 0;
  position: relative;

  transition: 0.1s ease-in-out;
}

.navbar__logo img {
  box-shadow: 0 0 1px #fff;
  border-radius: 0.2rem;
  animation: gradient 20s ease infinite;
}

.navbar__logo:after {
  content: 'dekaf';
  margin-left: 0.7rem;
  font-weight: var(--font-weight-bold);
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar__title {
  display: none;
}

/* Link---------------------------------------------------------------------- */
.navbar__link {
  font-size: 1rem;
  font-weight: var(--ifm-font-weight-bold);
}

.navbar__link--active {
  color: #6e79d6;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
    box-shadow: 0px 0px 7px #4eafff;
  }

  25% {
    background-position: 100% 50%;
    box-shadow: 0 0px 5px #91b8f9;
  }

  75% {
    background-position: 0% 50%;
    box-shadow: 0px 0px 10px #48b2b4;
  }

  100% {
    background-position: 0% 50%;
    box-shadow: 0px 0px 10px #4eafff;
  }
}

/* Responsive---------------------------------------------------------------- */
@media (max-width: 1200px) {
  :root {
    --ifm-navbar-item-padding-horizontal: 1rem;
  }

  .navbar__link {
    font-size: 1rem;
  }
}

@media (max-width: 1024px) {
  :root {
    --ifm-navbar-height: 6rem;
  }

  .navbar__inner {
    padding: 0 1rem;
  }
}

@media (max-width: 996px) {
  :root {
    --ifm-navbar-height: 4rem;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar__inner {
    padding: 0;
  }

  .navbar__logo {
    height: 52px;
  }
}

@media (max-width: 768px) {}

@media (max-width: 480px) {}